

.about__font {
  display:block;
  margin: 0 auto;

  &-container {
    background-color: white;
    position: relative;
    z-index:15;
  }

&-main-header {
  opacity: 0;
  padding: 4rem 0;
  font-size: 2rem;
  font-weight:bold;
}
  &-header {
    margin-top: 1rem;
    font-weight:bold;
    font-size: 2rem;
  }
  &-text {
    font-size: 1.2rem;
  }
}

.about__card-border {
  border: none;
}

.about__font-main-header-add {
  animation: xxx 1s forwards;
  
}

.about__font-responsive {
  opacity: 0;
  background-color: rgba(42, 7, 87, 0.904);
  width: 18rem;
  height: 14rem;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display:flex;
  align-items: center;
  justify-content:center;
}
.about__font-responsive-body {
  opacity: 0;
}
.about__font-responsive-add {
  animation: xxx 1s forwards;
  animation-delay: .5s;
}
.about__font-newspaper {
  opacity: 0;
  background-color: rgba(42, 7, 87, 0.904);
  width: 16rem;
    height: 14rem;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display:flex;
  align-items: center;
  justify-content:center;
}
.about__font-newspaper-body {
  opacity: 0;
}
.about__font-newspaper-add {
  animation: xxx 1s forwards;
  animation-delay: 1s;
}
.about__font-dynamic {
  opacity: 0;
  background-color: rgba(42, 7, 87, 0.904);
  width: 16rem;
    height: 14rem;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  display:flex;
  align-items: center;
  justify-content:center;

}
.about__font-dynamic-body {
  opacity: 0;
}
.about__font-dynamic-add {
  animation: xxx 1s forwards;
  animation-delay: 1.5s;
}

.fa-tv {
  color:white;
  font-size: 6rem;

}
.fa-mobile-alt {
  color:white;
  font-size: 4rem;

}

.fa-newspaper {
  color:white;
  font-size: 7rem;
  display:block;
  margin: 0 auto;

}

.fa-dna {
  color:white;
  font-size: 7rem;
  display:block;
  margin: 0 auto;
}



@keyframes xxx {
  0% {
    opacity: 0;
  }
  1% {
    opaicty: 1;
  }
  100% {
    opacity: 1;
  }
}