.work__container {
  position: relative;
  width: 50%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(147, 205, 224);
 
}

.work__container:hover .overlay {
  opacity: 1;

}

.work__desc {
  background-color:transparent;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;


  &-add {
    transition: .5s;
    top:40%;
  }
}

.work__button {
  background-color:transparent;
  color: white;
  border: 2px solid rgb(80, 80, 201);
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &-add {
    transition: .5s;
    top:60%;
  }

  &:hover {
    background-color: rgb(80, 80, 201);
    color:rgb(228, 216, 216) !important;
    transition: .5s;
  }
}

#myModal {
  overflow-y:hidden;
}